{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('game') }}
{% endblock %}

{% block title %}game{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <section id="game">
        <div class="game container">
            <div id="map"></div>
        </div>
        {% include 'layout/_sidebar.html.twig' with {'hasBase': hasBase, 'buildingTypes': buildingTypes} %}

        <div
            id="event-bus"
            hx-get="{{ path('events') }}"
            hx-trigger="every 10s"
            hx-swap="none">
        </div>

        <div id="notifications"></div>
    </section>
{% endblock %}